@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.fs-14 {
  font-size: 14px;
}
.fs-13 {
  font-size: 13px;
}
.fs-12 {
  font-size: 12px;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fs-15 {
  font-size: 15px;
}
.fw-600 {
  font-weight: 600 !important;
}
.hire-driver-green-color {
  color: #0caa4b;
}
.box-shadow-none {
  box-shadow: none !important;
}
.btn-bg-color {
  background: #1ecb15;
}
.btn-bg-color:hover {
  background: #1ecb15;
}
.btn-bg-color:checked {
  background: #1ecb15 !important;
  border: 0;
}
.text-green {
  color: green;
}
.text-custom-green {
  color: #1ecb15;
}
.contactus-text-green {
  color: #1ecb15;
}

.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.w-90 {
  width: 90%;
}
.h-fit-content {
  height: fit-content;
}
.w-fit-content {
  width: fit-content;
}
.text-grey {
  color: rgb(114, 114, 114);
}
@media screen and (max-width: 768px) {
  .px-md-6 {
    padding: 0px 30px;
  }
}
.px-md-6 {
  padding: 0px 110px;
}
/* For Home Page */
.home-services {
  background-image: url(./assets/Images/spark-car-home-bg.png);
  color: #fff;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.records {
  background-image: url(./assets/Images/spark-car-home-car-list.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  background-position: center;
  color: #fff;
}
.home-adventure-container {
  background-image: url(./assets/Images/adventure-bg.png);
  color: #fff;
  background-position-x: -72px;
  background-position-y: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.home-headings {
  font-size: 28px;
  letter-spacing: -1.8px;
  line-height: 30px;
  margin-top: 0px;
  margin-bottom: 10px;
  color: rgb(3, 27, 78);
  text-align: center;
  font-weight: 650;
}
.home-service-container input,
.home-service-container select {
  box-shadow: none !important;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: transparent !important;
  color: black;
  border: 2px solid green;
}
.nav-pills .nav-link.active img {
  transform: translateX(-15px);
}
.select2-selection__rendered,
.select2-search__field {
  outline: none;
}
.select2-selection {
  height: 35px !important;
  display: flex !important;
  align-items: center !important;
}
.service-0::before {
  content: "1";
  top: -50px;
  position: relative;
  background: #1ecb15;
  padding: 15px 20px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.service-1::before {
  content: "2";
  top: -50px;
  position: relative;
  background: #1ecb15;
  padding: 15px 20px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.service-2::before {
  content: "3";
  top: -50px;
  position: relative;
  background: #1ecb15;
  padding: 15px 20px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.service-3::before {
  content: "4";
  top: -50px;
  position: relative;
  background: #1ecb15;
  padding: 15px 20px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.service-0,
.service-1,
.service-2 {
  border-top: 1px solid #199e1c;
  padding-top: 40px;
  padding-right: 40px;
}

.service-3 {
  padding-top: 40px;
}
.carousel-btn-bg-color {
  background-color: #333333;
  border-radius: 50%;
  background-size: 21px;
  height: 40px;
  width: 40px;
}
.react-multi-carousel-track {
  display: flex;
  gap: 15px;
}
.contact-us-img {
  background-image: url(./assets/Images/contact-us-bg.png);
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.contactus-container input,
.contactus-container textarea {
  background: #f9f9f9;
  font-size: 14px;
  font-weight: 500;
}
.contactus-container textarea {
  border: 2px solid #eeeeee;
  border-radius: 6px;
  outline: none;
}
.about-us-container .about-us-img {
  background-image: url(./assets/Images/about-us-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
}
.contactus-container .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: #1ecb15 !important;
  color: #fff;
  border-radius: 4px;
  padding: 14px 20px;
}
#comfort-tab:hover,
#contact-tab:hover,
#home-tab:hover {
  background: transparent;
  border-color: transparent !important;
}
.about-us-container .nav-tabs button {
  color: #000;
  font-size: 12px;
}
.corporate-rent-container .corporate-rent-img {
  background-image: url(./assets/Images/corporate-rent-bg.jpeg);
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hire-driver-container .hire-driver-img {
  background-image: url(./assets/Images/hire-driver-bg.jpeg);
  height: 400px;
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
}
.blog-bg-img {
  background-image: url(./assets/Images/blog-bg.jpeg);
  background-size: cover;
  height: 300px;
  background-position: 10% 38%;
}
.pages-nav-container .modal {
  --bs-modal-width: 50%;
}
.pages-nav-container input {
  box-shadow: none !important;
}
.pages-nav-container .sign-in-btn {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
.tour-package-btn-bg-blue {
  background: rgb(63, 73, 127);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
.btn-box-shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
.nav-title:hover .hover-line {
  width: 100%;
  transition: width 1s;
}
.hover-line {
  height: 2px;
  width: 0px;
  background-color: #1ecb15;
}
