@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.fs-14 {
  font-size: 14px;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fs-15 {
  font-size: 15px;
}
.fw-600 {
  font-weight: 600 !important;
}
.btn-bg-color {
  background: #1ecb15;
}
.text-green {
  color: green;
}
.text-custom-green {
  color: #1ecb15;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.fs-18 {
  font-size: 18px;
}
.text-grey {
  color: rgb(114, 114, 114);
}
@media screen and (max-width: 768px) {
  .px-md-6 {
    padding: 0px 30px;
  }
}
.px-md-6 {
  padding: 0px 110px;
}
/* For Home Page */
.home-services {
  background-image: url(./assets/Images/spark-car-home-bg.png);
  color: #fff;
}
.records {
  background-image: url(./assets/Images/spark-car-home-car-list.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  background-position: center;
  color: #fff;
}
.home-adventure-container {
  background-image: url(./assets/Images/adventure-bg.png);
  color: #fff;
  background-position-x: -72px;
  background-position-y: center;
  background-repeat: no-repeat;
}
.home-headings {
  font-size: 28px;
  letter-spacing: -1.8px;
  line-height: 30px;
  margin-top: 0px;
  margin-bottom: 10px;
  color: rgb(3, 27, 78);
  text-align: center;
  font-weight: 650;
}
